* {
  font-family: 'Vazir', sans-serif;
}

/* Make the chart container fill the page using CSS. */

#chart {
  background: #212121;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  font-family: 'Vazir', sans-serif;
}

g text.shadow{
  text-shadow: 0.025em 0.04em 0 #555;
}
g {
    cursor: grab;
    fill: #fff;
    fill-opacity: 1;
}

rect:hover{
  opacity: 0.8;
}

.tooltip {
  position: absolute;
  padding: 8px;
  background: rgba(0, 0, 0, .87);
  color: #fff;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

#chart .tooltip hr {
  padding: 0;
  margin: 8px 0;
}
